.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100vw;
  height: 60px;
  background-color: rgb(133, 133, 203);
}

.form {
  display: flex;
  gap: 20px;
  flex-direction: row;
  position: relative;

  width: 400px;
  height: 35px;
}

.button {
  position: absolute;
  left: 5px;
  top: 8px;
  background-color: transparent;
  /* height: 1px;
  width: 1px; */
  border: none;
  padding: 0;
}

.input {
  padding: 10px 10px 10px 20px;
  width: 300px;
  height: 10px;
}

.input::placeholder {
  padding-left: 20%;
  margin-left: 20px;
}

.button:hover {
  border: none;
}
.button:focus {
  border: none;
}
